.nav{
    background-color: rgb(243, 166, 166);
    overflow: hidden;
}


div.nav a{
    text-decoration: none;
    font-variant: small-caps;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    float:left;
}


.nav li{
    list-style-type: none;
}


.nav a:hover{
    background-color: rgb(222, 15, 57);
}


.nav a.active{
    background-color: rgb(123 , 255 , 123)
}



.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;


}

    .myslides {
        display: none;
        max-height: 100%;
        max-width: 100%;
    }
